/*----------------------------------------------------*/

body {
    background-color: #dedede !important;
}

.page_now {
    padding: 20px;
    font-size: 20px;
}

.advertisement img {
    width: 100%;
    border-radius: 5px;
}

.sum_camera {
    padding: 0px 20px;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 20px;
    color: #56565f;
}

.list-camera-item {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.camera-item {
    width: 25%;
    background-color: #ffffff;
    display: flex;
    margin: 0 10px;
    padding: 10px 0px;
    border-radius: 15px;
    flex-direction: column;
    justify-content: flex-start;
}

.camera-item:hover {
    opacity: 0.7;
}

.img-camera-item {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    height: 50%;
}

.camera-item img {
    width: 150px;
}

.text-camera-item {
    display: flex;
    height: 170px;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.name-camera {
    font-size: 16px;
    color: #006d9a;
    padding: 10px;
}

.price-camera {
    font-size: 20px;
    font-weight: 700;
    padding: 0px 10px;
}

.price-old-difference {
    display: flex;
    padding-bottom: 30px;
}

.old-price-camera {
    text-decoration: line-through;
    padding: 0px 10px;
    color: #8c8c8c;
}

.price-difference {
    color: #ff5f5f;
    font-size: 17px;
    font-weight: 700;
}

.gift-camera {
    display: flex;
    /* padding-bottom: 20px; */
    position: absolute;
    bottom: 5px;
    right: 0px;
}

.gift-camera i {
    color: #ff8989;
    padding: 5px;
}

.gift-camera div {
    color: #ff8989;
    padding: 3px 25px 3px 8px;
}

.before_after_page {
    display: flex;
    padding: 30px 0px 30px 50px;
}

.now_page {
    padding: 3px 10px;
    border: 2px solid #515151;
    margin: 0px 10px;
    border-radius: 10px;
}

.before_after_page button {
    border-radius: 10px;
}


/*----------------------------------------------------*/

.footer {
    /* background-color: #f8f9fa; */
    border-top: 1px solid #56565f;
    padding: 40px 0;
}

.footer h5 {
    font-weight: bold;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer .contact-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer .social-icons a {
    margin-right: 15px;
    color: #333;
    font-size: 24px;
    text-decoration: none;
}

.footer .social-icons a:hover {
    color: #007bff;
}