body {
    background-color: #dedede !important;
}

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    max-height: 600px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.swiper-button-next {
    left: 45px !important;
}

.swiper-button-next,
.swiper-button-prev {
    top: 30px !important;
    color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 25px;
}

.main-qc {
    padding: 50px 0px 0px 0px;
}

.a-main-qc img {
    width: 100%;
}

.title-camera-slick {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.title-camera-slick {
    display: flex;
    justify-content: center;
}

.title-camera-slick {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.hot-camera-list {
    display: flex;
    justify-content: space-between;
}

.camera-item {
    width: 350px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    padding: 10px 0px;
    border-radius: 15px;
    margin-bottom: 30px;
    flex-direction: column;
}

.camera-item:hover {
    opacity: 0.7;
}

.img-camera-item {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.camera-item img {
    width: 150px;
}

.text-camera-item {
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.name-camera {
    font-size: 16px;
    color: #006d9a;
    padding: 10px;
}

.price-camera {
    font-size: 20px;
    font-weight: 700;
    padding: 0px 10px;
}

.price-old-difference {
    display: flex;
    padding-bottom: 30px;
}

.old-price-camera {
    text-decoration: line-through;
    padding: 0px 10px;
    color: #8c8c8c;
}

.price-difference {
    color: #ff5f5f;
    font-size: 17px;
    font-weight: 700;
}

.gift-camera {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.gift-camera i {
    color: #ff8989;
    padding: 5px;
}

.gift-camera div {
    color: #ff8989;
    padding: 3px 25px 3px 8px;
}

.sum-promotion {
    width: 100%;
    display: ruby;
}

.sum-promotion-item {
    width: fit-content;
    margin: 30px;
    background-color: #ffffff;
}

.sum-promotion-item-img img {
    width: 500px;
    height: 100px;
}

.sum-promotion-item-text {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.list-camera-item {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}


/*-------------------------------footer-----------------------------------*/

.footer {
    /* background-color: #f8f9fa; */
    border-top: 1px solid #56565f;
    padding: 40px 0;
    margin: 0px 100px;
}

.footer h5 {
    font-weight: bold;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer .contact-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer .social-icons a {
    margin-right: 15px;
    color: #333;
    font-size: 24px;
    text-decoration: none;
}

.footer .social-icons a:hover {
    color: #007bff;
}